:root {
    --primary: #c00000;
    --secondary: maroon;
    --light: #f4f4f4;
    --dark: #333;

    --title: 'Tilt Neon', sans-serif;
    --text: 'Quicksand', sans-serif;
}

.header {
    width: 90%;
    height: 75px;
    color: whitesmoke;
    background-color: #be3434;
    display: flex;
    gap: 10px; /* Adjust the space between items */
    justify-content: flex-start; /* Align items to the left */
    align-items: center;
    position: fixed;
    top: 10px;
    left: 5%; /* Adjusted left position */
    right: 5%; /* Adjusted right position */
    border-radius: 42px;
}


.head_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    max-height: 10vh;
    color: var(--light);
    text-decoration: none;
    margin-left: 45px;
}

.head_icon img {
    width: 30px;
    height: 30px;
}

.head_icon h3 {
    margin-right: 50px; /* Increase the right margin of the h3 element */
}

.headerNav {
    display: flex;
    justify-content: flex-start;
}

.navLink {
    margin-left: 25px;
    text-decoration: none;
    color: whitesmoke;
}

.navLink:first-child {
    margin-left: 0; /* Remove margin for the first item */
}

.downloadApp {
    margin-left: 220px; /* Push 'Download the App' to the right */
    background-color: #815527; /* Light brown background */
    color: #000; /* Text color */
    border-radius: 20px; /* Rounded corners */
    text-decoration: none;
}

.navLink {
    padding: 12px 20px;
    border-radius: 36px;
    color: white;
    text-decoration: none;
    transition: .5s;
}

.navLink:hover {
    background-color: #c00000;
}

/* Hover state */
.downloadApp:hover {
    background-color: #612c06; /* Dark brown background on hover */
    color: whitesmoke; /* Text color on hover */
}

.main {
    margin: 100px 0;
}

.header .whatWeDo a,
.header .benShapiroMemes a,
.header .contactUs a {
    color: whitesmoke; /* Sets the text color to white */
    text-decoration: none; /* Removes underline */
}

.footer {
    width: 100%;
    height: 75px;
    color: whitesmoke;
    background-color: maroon;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    bottom: 0; 
}

.ourMission h2 {
    width: 100%;
    height: 35px;
    margin-bottom: 0px;
    margin-top: 120px;
    color: maroon;
    text-align: center;
}

.ourMission p{
    color: black; 
    line-height: 1.5;
    text-align: center;
    justify-content: space-evenly;
    margin-left: 75px;
    margin-right: 75px;
}

.ourMission strong {
    font-weight: bold;
}

.ourMission small {
    font-size: 0.75em; 
}
  
.videoSection {
    display: inline-block;
    vertical-align: top; /* Align the sections vertically at the top */
    width: 45%; /* Adjust the width as needed */
    margin-right: 2%;
    margin-left: 2%;
}

.videoSection h2 {
    margin-top: 0; /* Remove default margin from h2 */
    margin-bottom: 10px; /* Add some space below the h2 */
    text-align: center;
}

.titledVideo {
    width: 100%; /* Ensure the video fills its container */
}

.frenchText {
    text-align:end;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 0px;
    margin-bottom: 10px;
}

.frenchText {
    background-image: linear-gradient(45deg, violet, indigo, blue, green, yellow, orange, red);
    background-clip: text; /* Apply the gradient to the text */
    color: transparent; /* Hide the original text color */
}

