:root {
    --primary: #c00000;
    --secondary: maroon;
    --light: #f4f4f4;
    --dark: #333;

    --title: 'Tilt Neon', sans-serif;
    --text: 'Quicksand', sans-serif;
}

/* Slider para los memes de Ben Shapiro */

.slider {
    width: 80%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    flex: 0 0 100%;
    display: none; /* Hide slides by default */
}

.slide img {
    width: 100%;
}

.them_ben_memes {
    position: relative; /* Required for positioning arrows */
}

.them_ben_memes .image-container {
    display: flex; /* Use flexbox for centering */
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    text-align: center; /* Center the text */
    margin-top: 15px;
    margin-bottom: 25px; /* Add margin below each image */
}

.them_ben_memes img {
    width: 600px;
    height: 500px;
}

.them_ben_memes .image-description {
    display: none; /* Hide descriptions by default */
    text-align: center; /* Center the text */
    margin-top: 10px; /* Add some space above the text */
    max-width: 600px; /* Set maximum width */
    margin-left: auto; /* Center horizontally */
    margin-right: auto; /* Center horizontally */
}

.arrow {
    position: absolute;
    top: 250px;

    transform: translateY(-50%);
    cursor: pointer;
    font-size: 24px;
    color: #333;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
}

.prev {
    left: 300px;
}

.next {
    right: 300px;
}