:root {
    --primary: #c00000;
    --secondary: maroon;
    --light: #f4f4f4;
    --dark: #333;

    --title: 'Tilt Neon', sans-serif;
    --text: 'Quicksand', sans-serif;
}


*, *::before, *::after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--title);
}

p {
    font-family: var(--text);
}


body {
    font-family: var(--text);
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--dark);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

.subPageHeader {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--secondary);
    color: var(--light);
}

.header__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    max-height: 10vh;
    color: var(--light);
    text-decoration: none;
}

.header__logo img {
    width: 50px;
    height: 50px;
}

.subPageHeader nav {
    display: flex;
    align-items: center;
}

.subPageHeader nav a{
    color: var(--light);
    font-family: var(--title);
    padding: 10px;
    background-color: var(--primary);
    transition: .25s ease-in-out;
}

.subPageHeader nav a:first-child {
    padding-left: 20px;
    border-radius: 24px 0 0 24px;
}

.subPageHeader nav a:last-child {
    padding-right: 20px;
    border-radius: 0 24px 24px 0;
}

.subPageHeader nav a:hover {
    background-color: var(--light);
    color: var(--primary);
}

.subFooter {
    height: 10vh;
    display: grid;
    place-items: center;
    background-color: var(--secondary);
    font-family: var(--title);
    color: var(--light);
    text-align: center;
    bottom: 0;
}

.contactMain {
    width: min(1200px, 90%);
    min-height: 80vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.contact__info {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns with equal width */
    gap: 50px; /* Gap between grid items */
    padding: 50px; /* Add some padding around the grid */
}

.contact__info img {
    width: 100%; /* Make the image fill its parent container */
    height: auto; /* Maintain aspect ratio */
    max-width: 100%; /* Limit the image width to prevent stretching */
    max-height: 100%; /* Limit the image height to prevent stretching */
}





