:root {
    --primary: #c00000;
    --secondary: maroon;
    --light: #f4f4f4;
    --dark: #333;

    --title: 'Tilt Neon', sans-serif;
    --text: 'Quicksand', sans-serif;
}


*, *::before, *::after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--title);
}

p {
    font-family: var(--text);
}


body {
    font-family: var(--text);
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--dark);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}


/* A PARTIR DE ACA YA TODO SE PODRIA REFACTOREAR */



/* About Us */
.preloader {
    width: 100%;
    height: 100vh;
    background-color: var(--light);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    gap: 20px;
}

.loader {
    position: relative;
    width: 120px;
    height: 14px;
    border-radius: 0 0 15px 15px;
    background-color: #3e494d;
    box-shadow: 0 -1px 4px #5d6063 inset;
    animation: panex 0.5s linear alternate infinite;
    transform-origin: 170px 0;
    z-index: 10;
    perspective: 300px;

}
.loader::before {
  content: '';
  position: absolute;
  left: calc( 100% - 2px);
  top: 0;
  z-index: -2;
  height: 10px;
  width: 70px;
  border-radius: 0 4px 4px 0;
  background-repeat: no-repeat;
  background-image: linear-gradient(#6c4924, #4b2d21), linear-gradient(#4d5457 24px, transparent 0), linear-gradient(#9f9e9e 24px, transparent 0);
  background-size: 50px 10px , 4px 8px , 24px 4px;
  background-position: right center , 17px center , 0px center;
}
  .loader::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    z-index: -2;
    transform: translate(-50% , -20px) rotate3d(75, -2, 3, 78deg);
    width: 55px;
    height: 53px;
    background: #fff;
    background-image:
    radial-gradient(circle 3px , #fff6 90%, transparent 10%),
    radial-gradient(circle 12px , #ffc400 90%, transparent 10%),
    radial-gradient(circle 12px , #ffae00 100%, transparent 0);
    background-repeat: no-repeat;
    background-position: -4px -6px , -2px -2px , -1px -1px;
    box-shadow: -2px -3px #0002 inset, 0 0 4px #0003 inset;
    border-radius: 47% 36% 50% 50% / 49% 45% 42% 44%;
    animation: eggRst 1s ease-out infinite;
  }

@keyframes eggRst {
  0% ,  100%{  transform: translate(-50%, -20px) rotate3d(90, 0, 0, 90deg); opacity: 0; }
  10% , 90% {  transform: translate(-50%, -30px) rotate3d(90, 0, 0, 90deg); opacity: 1; }
  25%  {transform:  translate(-50% , -40px) rotate3d(85, 17, 2, 70deg) }
  75% {transform:  translate(-50% , -40px) rotate3d(75, -3, 2, 70deg) }
  50% {transform:  translate(-55% , -50px) rotate3d(75, -8, 3, 50deg) }
}
@keyframes panex {
  0%{  transform: rotate(-5deg)  }
  100%{  transform: rotate(10deg)  }
}
  

.au-body {
    background-color: var(--light);
}

.subPageHeader {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--secondary);
    color: var(--light);
}

.header__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    max-height: 10vh;
    color: var(--light);
    text-decoration: none;
}

.header__logo img {
    width: 50px;
    height: 50px;
}

.subPageHeader nav {
    display: flex;
    align-items: center;
}

.subPageHeader nav a{
    color: var(--light);
    font-family: var(--title);
    padding: 10px;
    background-color: var(--primary);
    transition: .25s ease-in-out;
}

.subPageHeader nav a:first-child {
    padding-left: 20px;
    border-radius: 24px 0 0 24px;
}

.subPageHeader nav a:last-child {
    padding-right: 20px;
    border-radius: 0 24px 24px 0;
}

.subPageHeader nav a:hover {
    background-color: var(--light);
    color: var(--primary);
}

.au-main {
    color: var(--light);
}

.au-about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: min(1400px, 90%);
    margin: auto;
}

.au-img {
    background-color: var(--light);
    padding: 24px;
    padding-right: 0;
}

.au-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 24px;
}

.about__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--light);
    color: var(--dark);
    padding: 40px;
}

.info__title {
    font-size: 3rem;
}

.info__title span {
    font-size: 2rem;
    color: var(--primary);
}

.info__text {
    line-height: 1.5;
    font-size: 16px;   
}

.info__text span {
    font-family: var(--title);
    color: var(--secondary)
}

.subFooter {
    height: 10vh;
    display: grid;
    place-items: center;
    background-color: var(--secondary);
    font-family: var(--title);
    color: var(--light);
    text-align: center;
    bottom: 0;
}

.au-numbers {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    padding: 40px;
}

.au-number {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.number__title {
    font-size: 32px;
    margin: 0;
}

.number__text {
    font-size: 20px;
    text-align: center;
    margin: 0;
}

.au-cta {
    background-color: var(--primary);
    color: var(--light);
    padding: 20px;
    border-radius: 24px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 20px;
    margin-bottom: 80px;
}

.cta__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

}

.cta__title{
    margin: 0;
}

.cta__text {
    font-size: 20px;
    margin: 0;
}

.cta__btn {
    width: 100%;
    padding: 10px 20px;
    background-color: var(--light);
    color: var(--primary);
    border: none;
    border-radius: 24px;
    font-family: var(--title);
    font-size: 20px;
    cursor: pointer;
    transition: .25s ease-in-out;
}

.cta__btn:hover {
    background-color: var(--secondary);
    color: var(--light);
}

@media (max-width: 768px){
    .subPageHeader {
        flex-direction: column;
        height: unset;
        padding: 20px;
    }

    .subPageNav {
        height: 10vh;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .subPageNav a{
        width: 100%;
        height: 100%;
        display: grid;
        place-items: center;
        padding: 10px;
        text-align: center;
    }

    .au-about {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
    }

    .au-img {
        padding: 20px;
    }

    .au-numbers {
        flex-direction: column;
        gap: 20px;
    }
}
/* Slider para los memes de Ben Shapiro */

.slider {
    width: 80%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    flex: 0 0 100%;
    display: none; /* Hide slides by default */
}

.slide img {
    width: 100%;
}

.them_ben_memes {
    position: relative; /* Required for positioning arrows */
}

.them_ben_memes .image-container {
    display: flex; /* Use flexbox for centering */
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    text-align: center; /* Center the text */
    margin-top: 5px;
    margin-bottom: 25px; /* Add margin below each image */
}

.them_ben_memes img {
    width: 600px;
    height: 500px;
}

.them_ben_memes .image-description {
    display: none; /* Hide descriptions by default */
    text-align: center; /* Center the text */
    margin-top: 10px; /* Add some space above the text */
    max-width: 600px; /* Set maximum width */
    margin-left: auto; /* Center horizontally */
    margin-right: auto; /* Center horizontally */
}

.arrow {
    position: absolute;
    top: 250px;

    transform: translateY(-50%);
    cursor: pointer;
    font-size: 24px;
    color: #333;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
}

.prev {
    left: 300px;
}

.next {
    right: 300px;
}

.contactMain {
    width: min(1200px, 90%);
    min-height: 80vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.contact__info {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns with equal width */
    gap: 50px; /* Gap between grid items */
    padding: 50px; /* Add some padding around the grid */
}

.contact__info img {
    width: 100%; /* Make the image fill its parent container */
    height: auto; /* Maintain aspect ratio */
    max-width: 100%; /* Limit the image width to prevent stretching */
    max-height: 100%; /* Limit the image height to prevent stretching */
}





